

body
{
	margin: 0px;
	color: #337ab7;
}

.titulo
{
	margin: 60px 0px 100px 0px;
}

.form-control
{
	color: #337ab7;
}

.boton
{
	margin: 40px 0px;
}

.boton_menu
{

	margin-top: 20px;
	margin-right: 0px;
	margin-left: 40%;

}

